/** Grid */

// Setup universal box-sizing: border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Setup .wrap
.wrap {

    // General setup
    margin: 0 auto;
    width: 100%;
    max-width: $wrap-max-width;
    overflow: hidden;

    // Set flex display properties
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // Set gutter
    padding-left: $content-gutter/4;
    padding-right: $content-gutter/4;

    &.expanded {
        max-width: 100%;
    }
}

// Setup .content
.content {
    display: block;
    padding-left: $content-gutter/4;
    padding-right: $content-gutter/4;
}

@each $breakpointName, $breakpoint in $breakpoints {

    @for $i from 1 through $column-count {

        @include breakpoint(#{$breakpointName}) {
            .#{$breakpointName}-#{$i} {
                width: (100% / $column-count) * $i
            }
        }

    }

}