/**
 * Globals
 */
$rem-base: 16px;

/**
 * Wrap
 */
$wrap-max-width: rem-calc(1200px);

/**
 * Content
 */
$content-gutter: 3rem;

/**
 * Breakpoints
 */
$breakpoints: (
    small: 0px,
    medium: 640px,
    large: 1024px
);

/**
 * Typography
 */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$line-height: 1.5;

/**
 * Grid
 */
$column-count: 12;