// Globals
// -------
$rem-base: 16px;

// Wrap
// ----
$wrap-max-width: to-rem(1200px);

// Content
// -------
$content-gutter: 3rem;

// Breakpoints
// -----------
$breakpoints: (
    small: 0px,
    medium: 640px,
    large: 1024px
);

// Typography
// ----------
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$headings: (h1, h2, h3, h4, h5, h6);
$line-height-body: 1.5;
$line-height-headings: 1.1;
$vertical-rhythm: 1.5rem;

// Grid
// ----
$column-count: 12;