/** Typography */

// Set base REM/EM and font family
html {
    font-size: $rem-base;
    font-family: $font-family;
    line-height: $line-height-body;
}

// Headings
@each $heading in $headings {
    #{$heading} {
        margin: 0;
        line-height: $line-height-headings;
    }
}

h1 { @include baseHeadingFontSize(2.5rem) }
h2 { @include baseHeadingFontSize(2.1rem) }
h3 { @include baseHeadingFontSize(1.9rem) }
h4 { @include baseHeadingFontSize(1.6rem) }
h5 { @include baseHeadingFontSize(1.3rem) }
h6 { @include baseHeadingFontSize(1rem) }

// Body copy
p, li {
    font-size: 1rem;
}
p, ul, ol {
    margin: 0;
    margin-bottom: $vertical-rhythm;
}

// Give headings after headings after headings some top margin
// Uses % elements to minimize outputted code
%headings-after-headings { margin-top: $vertical-rhythm/2; }
@each $heading in $headings {
	@each $headingNested in $headings {
		#{$heading} + #{$headingNested} {
			@extend %headings-after-headings;
		}
	}
}

// Give paragraph style elements following headings half their usual margin top
// Uses % elements to minimize outputted code
%paragraphs-after-headings { margin-top: $vertical-rhythm/2; }
@each $pElement in (p, ul) {
    @each $heading in $headings {
        #{$heading} + #{$pElement} {
            @extend %paragraphs-after-headings;
        }
    }
}