/*!
 * SJD - CSS Framework
 */

@import "reset";
@import "utilities";
@import "variables";
@import "typography";
@import "grid";

.header-container {
    background-color: hsl(0, 0, 95);
    border-bottom: 1px solid hsl(0, 0, 90);
    padding: 2rem 0;
    @include breakpoint($small) {
        padding: 3rem 0;
    }
}
.content-container-2 {
    padding: 1rem 0;
    @include breakpoint($small) {
        padding: 2rem 0;
    }
}